/**
 * Movie Review styles
 */

$movie-review-bgcolor: $golden-yellow;

.single-mbt_movie_review {
	background-color: $movie-review-bgcolor;

	.entry-content {
		text-align: justify;

		.preamble {
			font-size: 1.2em;
			font-style: italic;
			margin-bottom: 1rem;
		}
	}
}
